html{
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
 /* html{
    background-color: black;
 } */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.caixa {
    width: 300px; /* Defina um tamanho */
    padding: 20px;
    background-color: #84b3c4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 40px;
    border: 4px solid rgb(7, 12, 53);
}

.iconelista{
    width: 25px;
    height: 25px;
}

.addTarefa {
    display: flex;
    align-items: center;
    width: fit-content; /* Ajusta ao conteúdo */
    border: 2px solid #000000;
    border-radius: 15px;
    overflow: hidden; /* Garante que nada saia do contorno */
}

.addTarefa input {
    padding: 10px;
    border: none;
    outline: none;
    width: 200px; /* Ajuste conforme necessário */
}

.addTarefa button {
    padding: 10px;
    border: none;
    background-color: #f3f3f3;
    cursor: pointer;
    white-space: nowrap; /* Evita quebra de texto */
    color: #0a3242;
}

.checks ul{
    list-style: none;
    padding: 0 15px ;
    margin: 0;
    margin-top: 20px;
    text-align: left;
}

.checks .lista li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    font-size: 20px;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
}

.checkbox-tarefa {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: aquamarine;
    color: #84b3c4;
}

input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }
/* Estilo para o texto riscado */
.riscado {
    text-decoration: line-through; /* Riscando o texto */
    color: rgb(255, 255, 255); /* Opcional: para deixar o texto com cor mais clara */
}

/* Estilo para a lixeira */
.lixeira {
    width: 20px; /* Ajuste o tamanho da lixeira */
    height: 20px;
    margin-left: 10px; /* Espaço entre o texto e a lixeira */
    cursor: pointer; /* Aponta que a lixeira é clicável */
    vertical-align: middle; /* Alinha verticalmente */
}
